.list-wrapper {
    padding-top: 10px;
}

.add-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.add-btn-wrapper p {
    font-size: .8rem;
}

.add-btn-wrapper .btn-add {
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .5s ease;
}
.btn-add:hover {
    opacity: 80%;
}

.modal-form-wrapper {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s ease;
}

.active-form {
    visibility: visible;
    opacity: 1;
}

.btn-close-list {
   padding: 6px 10px 6px 10px;
   border: none;
   border-radius: 50%;
   background: #000;
   color: white;
   font-size: 1.1rem;
}

.form-modal-add input {
    font-size: 1.5rem;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    outline: none;
    color: white;
}

.list-container {
    max-width: 376px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 210px;
    /* padding: px; */
    gap: 15px;
    overflow-y: auto; 
    overflow-x: hidden;
}

.weather-card {
    padding: 20px;
    width: 305px;
    border-radius: 10px;
    background: rgba(0,0,0,.6);
}



.weather-card:nth-last-child(1) {
    margin-bottom: 40px;
}

.weather-card .card-title h1 {
    font-size: 1.4rem;
}

.weather-card .card-title h3 {
    font-size: .9rem;
    margin-top: 10px;
}

.list-container .card-information {
    display: flex;
    gap: 40px;
    align-items: center;
}

.card-information {
    margin: 10px auto;
}

.card-information > div {
    display: flex;
}

.card-information > div p {
    font-size: .8rem;
}